In [3]:
!pip install openai

Collecting yarl<2.0,>=1.0
  Downloading yarl-1.9.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (269 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 269.4/269.4 kB 24.3 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 kB 16.3 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 kB 12.1 MB/s eta 0:00:00
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, openai
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 openai-0.27.4 yarl-1.9.2

In [4]:
import pickle
import numpy as np
import pandas as pd

import json
import os
import openai
import time

## Task 1:
### Evaluate article on multiple MCQs per prompt:
``` 
Structure : text passage
               Q1:
               A.
               B.
               C.
               D.
               
               Q2.
               A.
               B.
               C.
               D.  
```

In [5]:
# reading file with text passage and MCQs
df = pd.read_json('/content/RACE_GPT3_5MCQs_250.json', lines=True)

In [6]:
df.head()

,text,answer_1,answer_2,answer_3,answer_4,answer_5
0,Want to find a job? Now read the following adv...,B,A,C,NaN,NaN
1,There lived a king who liked art. One day an a...,B,A,C,D,NaN
2,Most good interviewers will make an effort to ...,A,A,D,NaN,NaN
3,I lost both of my parents in a tragic car acci...,B,D,D,NaN,NaN
4,"When I was 12, I got a part-time job on a dair...",D,D,NaN,NaN,NaN

## Testing a text prompt

In [8]:
# openai.organization = "YOUR_ORG_ID"
openai.api_key = "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"

In [9]:
ans = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
        {"role": "system", "content": "You are a question answer generation expert."},
        {"role": "user", "content": """ Answer the MCQ questions given below, based on this article :
        
        There are two basic ways to see growth: one as a product, the other as a process. People have generally viewed personal growth as a result or product that can easily be identified   and measured. The worker who gets a rise, the student whose grades improve, the foreigner who learns a new language--all these are examples of people who have measurable results to show for their efforts.
By contrast, the process of personal growth is much more difficult to determine, since it is a journey and not the specific signposts or landmarks along the way. The process is not the road itself, but rather the attitudes and feelings people have, their caution or courage, as they meet with new experiences and unexpected obstacles  . In this process, the journey never really ends; there are always new ways to experience the world, new ideas to try, new challenges to accept.
In order to grow, to travel new roads, people need to have a willingness to take risks, to face the unknown, and to accept the possibility that they may "fail" at first. How we see ourselves as we try a new way of being is extremely important to our ability to grow. Do we notice ourselves as quick and curious? If so, then we tend to take more chances and to be more open to unfamiliar experiences. Do we think we're shy and indecisive? Then our sense of fear can cause us to hesitate, to move slowly, and we think we're slow to adapt to change or that we're not smart enough to deal with a new challenge. Then we are likely to take a more passive role or not try at all.
These feelings of insecurity   and self-doubt are both unavoidable and necessary if we are to change and grow. If we protect ourselves too much, then we stop growing. We become trapped inside a shell of our own making.

Q1 : Which of the following can be viewed as the process of personal growing? 
    
A. Helen was always willing to accept challenges.
B. Jane won the first prize in the speech competition.
C. Jerry picked up French during his stay in Paris.
D. Father's salary rose from 5,000 to 7,000.

Q2 : For personal growth, the writer is in favor of   _  . 
    
A. being cautious  with changes
B. having little interest in new things
C. staying away from failures and challenges
D. having an open mind to new experiences

Q3 : How do you understand the last sentence of this passage? 
    
A. We are trapped and injured.
B. Our body is trapped and stops growing.
C. We get stuck in what we are doing and can not achieve real growth.
D. We can't protect ourselves and are trapped by others.

Q4 : Which of the following would be the best title for the text? 
    
A. Facing New Challenges
B. Growth--Product or Process
C. Two Basic Ways of Growth
D. Overcoming Fears

Choose the correct option only
"""},



    ]
)
print(ans['choices'][0]["message"]["content"])

Q1: C
Q2: D
Q3: C
Q4: B

In [ ]:
# function that creates a dataframe for predictions made by GPT-3
def perform_analysis(data):
    pred_answers = pd.DataFrame(columns=['idx', 'text', 'answer_1', 'answer_2', 'answer_3', 'answer_4', 'answer_5'])

    count = 0    
    time_interval = 20
    num_requests = 0

    for idx in range(len(data.index)):
        if idx == 100:
          return pred_answers
        if num_requests == 3:

            time.sleep(time_interval)
            num_requests = 0

        text = data.iloc[idx]['text']

        output = send_to_gpt(text)

        answers = output.split("\n")
        print(answers)
        answer_options = []
        for line in answers:
          if ("A." in line or "A" in line):
              answer_options.append("A")
              continue

          if ("B." in line or "B" in line):
              answer_options.append("B")
              continue

          if ("C." in line or "C" in line):
              answer_options.append("C")
              continue
            
          if ("D." in line or "D" in line):
              answer_options.append("D")
              continue
        
        new_data = {'idx' : idx,'text' : text[:20]}
        for i in range(len(answer_options)):
            new_data[f'answer_{i+1}'] = answer_options[i]

        print(new_data)
        
        pred_answers = pred_answers.append(new_data, ignore_index=True)

        num_requests += 1
        count += 1
        print(count)
        # break
        # text_list = []

        # for i in range(len(text_split)):
        #     if len(text_split[i]) > 0:
        #         text_list.append(text_split[i])

        # output_dict[id] = text_list
    return pred_answers
    
df2 = perform_analysis(df)

In [ ]:
df2.to_pickle('predicted_answers.pkl')

In [18]:
df2.head()

  idx                  text answer_1 answer_2 answer_3 answer_4 answer_5
0   0  Want to find a job?         D        B        C      NaN      NaN
1   1  There lived a king w        C        A        A        B      NaN
2   2  Most good interviewe        A        D        A      NaN      NaN

### Getting accuracy

In [21]:
df.head()

,text,answer_1,answer_2,answer_3,answer_4,answer_5
0,Want to find a job? Now read the following adv...,B,A,C,NaN,NaN
1,There lived a king who liked art. One day an a...,B,A,C,D,NaN
2,Most good interviewers will make an effort to ...,A,A,D,NaN,NaN
3,I lost both of my parents in a tragic car acci...,B,D,D,NaN,NaN
4,"When I was 12, I got a part-time job on a dair...",D,D,NaN,NaN,NaN

In [ ]:
total = 0
correct = 0
for i in range(100):
   
  if (not pd.isna(df.iloc[i]["answer_1"])) and (not pd.isna(df2.iloc[i]["answer_1"])):
     total += 1
     if df.iloc[i]["answer_1"] == df2.iloc[i]["answer_1"]:
       correct += 1

  if (not pd.isna(df.iloc[i]["answer_2"])) and (not pd.isna(df2.iloc[i]["answer_2"])):
     total += 1
     if df.iloc[i]["answer_2"] == df2.iloc[i]["answer_2"]:
       correct += 1

  if (not pd.isna(df.iloc[i]["answer_3"])) and (not pd.isna(df2.iloc[i]["answer_3"])):
     total += 1
     if df.iloc[i]["answer_3"] == df2.iloc[i]["answer_3"]:
       correct += 1
  if (not pd.isna(df.iloc[i]["answer_4"])) and (not pd.isna(df2.iloc[i]["answer_4"])):
     total += 1
     if df.iloc[i]["answer_4"] == df2.iloc[i]["answer_4"]:
       correct += 1
  
  if (not pd.isna(df.iloc[i]["answer_5"])) and (not pd.isna(df2.iloc[i]["answer_5"])):
     total += 1
     if df.iloc[i]["answer_5"] == df2.iloc[i]["answer_5"]:
       correct += 1
print("Accuracy for prompts with multiple MCQs = ")

In [ ]:
(correct/total)*100

66.25

## Task 2:
### Evaluate article on single MCQ per prompt:
``` 
Structure : text passage
               Q1:
               A.
               B.
               C.
               D.
               
```

In [26]:
# loading single MCQ dataset
df_single_MCQ = pd.read_json('/content/RACE_GPT3_1MCQs_100.json', lines=True)

In [ ]:
# function that creates a dataframe for predictions made by GPT-3
def perform_analysis_single_MCQ(data):
    pred_answers = pd.DataFrame(columns=['idx', 'text', 'answer'])

    count = 0
    time_interval = 20
    num_requests = 0

    for idx in range(len(data.index)):
        if num_requests == 3:

            time.sleep(time_interval)
            num_requests = 0

        text = data.iloc[idx]['text']

        output = send_to_gpt(text)

        print(output)

        if ("A." in output or "A" in output):
            answer = "A"

        elif ("B." in output or "B" in output):
            answer = "B"
            

        elif ("C." in output or "C" in output):
            answer = "C"
            
          
        elif ("D." in output or "D" in output):
            answer = "D"
          
        else:
          answer = np.nan
          
      
        new_data = {'idx' : idx,'text' : text[:20]}
        new_data['answer'] = answer

        print(new_data)
        
        pred_answers = pred_answers.append(new_data, ignore_index=True)

        num_requests += 1
        count += 1
        print(count)
        # break
        # text_list = []

        # for i in range(len(text_split)):
        #     if len(text_split[i]) > 0:
        #         text_list.append(text_split[i])

        # output_dict[id] = text_list
    return pred_answers
    
df2 = perform_analysis_single_MCQ(df_single_MCQ)

In [ ]:
df2.to_pickle('./predicted_answers_single')

In [34]:
df2.head()

  idx                  text answer
0   0  Want to find a job?       D
1   1  Want to find a job?       D
2   2  Want to find a job?       A
3   3  There lived a king w      C
4   4  There lived a king w      A

In [35]:
df_single_MCQ.head()

                                                text answer
0  Want to find a job? Now read the following adv...      B
1  Want to find a job? Now read the following adv...      A
2  Want to find a job? Now read the following adv...      C
3  There lived a king who liked art. One day an a...      B
4  There lived a king who liked art. One day an a...      A

In [37]:
total = 0
correct = 0
for i in range(len(df2)):
   
  if (not pd.isna(df_single_MCQ.iloc[i]["answer"])) and (not pd.isna(df2.iloc[i]["answer"])):
     total += 1
     if df_single_MCQ.iloc[i]["answer"] == df2.iloc[i]["answer"]:
       correct += 1

print("Accuracy for Task2 with single MCQs = ")

Accuracy for Task2 with single MCQs =

In [ ]:
(correct/total)*100

68.11145510835914